{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
      body {
        font-family: "Noto Sans KR", sans-serif;
        background-color: rgb(249, 249, 151);
      }
    </style>
</head>
<body class="bg-black">
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    <header>
      <div class="row align-items-center">
        <nav class="navbar navbar-expand-lg bg-black">
          <div class="container">
              <button type="button" class="m-3 btn btn-outline-dark"><a class=" p-2 text-decoration-none text-white" href="{% url 'articles:index' %}">HOME</a></button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 {% if request.user.is_authenticated %}
                <li class="m-3 nav-item">
                  <button type="button" class="btn btn-outline-dark"><a class="p-0 text-white nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">Logout</a></button>
                </li>
                <li class="m-3 nav-item">
                  <button type="button" class="btn btn-outline-dark"><a class="p-0 text-white nav-link active" aria-current="page" href="{% url 'accounts:detail' user.pk %}">My Page</a></button>
                </li>
                  {% else %}
                <li class="m-3 nav-item"> 
                  <button type="button" class="btn btn-outline-dark"><a class="text-white nav-link active" aria-current="page" href="{% url 'accounts:login' %}">Login</a></button>
                </li>
                <li class="m-3 nav-item">
                  <button type="button" class="btn btn-outline-dark"><a class="text-white nav-link active" aria-current="page" href="{% url 'accounts:signup' %}">Join</a></button>
                </li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>


      <!-- nav bottom -->
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <button type="button" class="m-3 btn btn-outline-danger">VIDEO</button>
        </li>
        <li class="nav-item">
          <button type="button" class="m-3 btn btn-outline-danger">MOVIES</button>
        </li>
        <li class="nav-item">
          <button type="button" class="m-3 btn btn-outline-danger">TV SHOW</button>
        </li>
        <li class="nav-item">
          <button type="button" class="m-3 btn btn-outline-danger">MORE</button>
        </li>
      </ul>


      <!-- banner bottom -->
      


      <!-- <div class="m-5">
        <div class="p-3 mb-5 rounded bg-dark">
          <p class="text-center text-white">🏆 I make time for people who make time for me.</p>
          <div class="container overflow-hidden text-center">
            <div class="row gx-5">
              <div class="col">
                <div class="g-col-6 g-col-md-4"><img src="https://kr.oledspace.com/wp-content/uploads/2020/06/01113421/Luca_1-scaled.jpg" class="figure-img img-fluid rounded" alt="..."></div>
                <p class="text-white">영화title</p>
                <p class="text-white">영화 설명</p>
              </div>
              <div class="col">
                <div class="g-col-6 g-col-md-4"><img src="https://kr.oledspace.com/wp-content/uploads/2020/06/01113421/Luca_1-scaled.jpg" class="figure-img img-fluid rounded" alt="..."></div>
                <p class="text-white">영화title</p>
                <p class="text-white">영화 설명</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->


        {% block content %}

        {% endblock %}
            <!-- As a link -->
            <div class="p-5 container">
              <nav class="navbar navbar-expand-lg bg-black">
                <div class="container-fluid">
                  <p class=" text-white">1 2 3 4</p>
                </div>
              </nav>
            </div>

    <!-- 기본 템플릿 안에 삽입될 내용 End -->
    {% bootstrap_javascript %}
</body>
</html>